* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5ecdf;
    color: #20303c;
}

a {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    color: #20303c;
}

p {
    margin: 20px 0;
    text-align: left;
}

.l-heading {
    font-size: 70px;
    color: #221A43;
}

.m-heading {
    font-size: 55px;
    color: #221A43;
}

.bg-dark {
    background: #20303c;
    color: #fcf5ee;
}

.bg-dark:hover {
    color: #20303c;
    background: #fcf5ee;
    border: #20303c solid 1px;
}

.bg-light {
    border: 1px solid #20303c;
    color: #20303c;
}

.bg-light:hover {
   color: #fcf5ee;
   background:#20303c;
}

.bg-blue {
    background: rgb(34, 26, 67);
    color: #fff;
}

.bg-green {
    background: #627750;
    color: #fff;
}

.bg-green:hover {
    color: #627750;
    background: #fcf5ee;
    border: 1px solid #627750;
}

.btn {
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 18px;
    cursor: pointer;
}

#navbar {
    position: sticky;
    top: 0;
    
}

#navbar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #f5ecdf;
}

#navbar .container .logo a {
    font-size: 30px;
}

#navbar .container .logo i {
    padding: 5px;
}

#navbar .container ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 1rem;
}

.showcase-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#showcase .container .showcase-content h1 {
    margin-top: 10px;
    padding: 20px;
}

#showcase .container .showcase-content img {
    padding: 30px 80px;
    width: 100%;
}

#showcase .container .showcase-content p {
    padding: 80px 250px 40px 250px;
    margin: 0 100px;
    text-align: center;
    font-size: 37px;
}

#home-info {
    display: flex;
    padding-top: 150px;
    padding-right: 120px;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 50px 80px 150px;
    margin: 50px;
}

#home-info .info-content a {
    margin-right: auto;
}

#home-info img {
    border-top-right-radius: 48%;
    border-top-left-radius: 48%;
}

#community-info-box {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-right: 300px;
    padding: 100px;
    background: #627750;
    color: #fff;
}

#community-info-box .box {
    padding: 10px;
}

#speciality-food {
    display: flex;
    flex-direction: row;
    margin: 100px 80px;
}

.speciality-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin: 65px 100px;
}

#speciality-food .speciality-info h2 {
    margin-right: auto;
    padding: 5px 20px 5px 0;
}

.speciality-info img {
    padding: 20px 0;
    margin-left: auto;
}

#speciality-food .speciality-img img {
    width: 600px;
    height: 600px;
}

#testimonials {
    display: flex;
    align-items: center;
}

#testimonials .testimonials-img img {
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    padding: 50px 0 100px 70px;
}

#testimonials .testimonial {
    text-align: center;
    padding: 60px;
    border-top-left-radius: 40%;
    background: #627750;
    color: #fcf5ee;
}

#testimonials .testimonial h1 {
    color: #fff;
}

#reservation-first-pg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 120px;
}

#reservation-first-pg h2 {
    font-size: 38px;
    text-align: center;
    padding: 0 94px;
    margin: 0 0 40px 0;
}

#reservation-first-pg p {
    text-align: center;
    padding: 0 94px;
    margin: 0 0 80px 0;
}

 #reservation-first-pg .reservation form {
    display: flex;
    align-items: flex-end;
}

#reservation-first-pg .reservation div {
    flex: 1;
    text-align: left;
    padding-right: 20px;
    color: #221A43;
}

#reservation-first-pg .reservation  form div label {
    display: inline-block;
    padding: 8px 0;
}

#reservation-first-pg .reservation form div input {
    width: 100%;
    padding: 8px 0;
    font-size: 20px;
    border: solid 1px #aca9a9;
    background: #f5ecdf;
    color:#221A43 ;
}

 #reservation-first-pg .reservation button {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 50px;
    border:1px solid #627750;
    cursor: pointer;
    height: 45px;
}  

#info-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#info-box .box  {
    padding: 150px 50px;
}

#info-box .box h2 {
    font-size: 33px;
    padding-bottom: 15px;
}

#info-box .box p {
    margin: 8px 20px 3px 0;
}

#info-box .box i {
    padding: 15px 5px;
}

#info-box .box  form label {
    display: inline-block;
    padding-top: 20px;
}

#info-box .box form input {
    background: #221A43;
    border: none;
    border-bottom: #fff 1px solid;
    padding: 15px;
    width: 100%;
}

#info-box .box button {
    margin-top: 25px;
    background: #221A43;
    color: #fff;
    border: #fff 1px solid;
}

#info-box .box button:hover{
    background: #42404b;
}

/* page 2 */

#menu h1 {
    font-size: 100px;
}

#menu h1,h2 {
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
}

#menu .menu-content .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 200px;
    margin-bottom: 20px;
}

#menu .menu-content h3 {
    text-align: center;
    font-size: 25px;
}

#menu .menu-content .box {
    line-height: 1.6em;
    margin: 12px 10px 25px 10px;
    text-align: center;
}

#menu .menu-content .box p{
    text-align: center;
}

#menu .menu-content .box i {
    background: #627750;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
}

#menu .menu-content  {
    text-align: center;
    margin-bottom: 150px;
}

#main-footer {
    background: rgb(34, 26, 67);
    color: #fff;
    padding: 0.40rem;
}
#main-footer p {
    text-align: center;
}